@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
body{
    padding: 0;
    margin: 0;
    background-color: #1b263b;
    overflow: hidden;
    font-family: 'Poppins', sans-serif;
}
.cabecalho{
    width: 100vw;
    height: 10vh;
    background-color: #772e25;
    text-align: center;
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
    font-size: 40px;
    box-shadow: 2px -2px 2px;
    padding-top: 15px;
    color: aliceblue;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    border: solid 1px;
}
.campo{
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    text-align: left;
    display: flex;
    flex-direction: column;
    color: #FFFF;
    border: 0;
    padding-top: 30px;
    margin: 20px;
    font-family: 'Playfair Display', serif;
}
img{
    padding-bottom: 10px;
}
.campo2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    padding: 25px;
}
label{
    font-size: 15px;
    padding-left: 10px;
    font-family: "Cairo", sans-serif;
}
input{
    width: 270px;
    height: 30px;
    border-radius: 10px;  
    margin: 3px;
}
.entrar{
    width: 150px;
    height: 40px;
    background-color: #E72227;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 40px;
    transition: 0.3s ease;
    font-family: "Cairo", sans-serif;
}
.entrar:hover{
    background: #dedede;
    color: #ca6702;
}
input[type=text] {
    background-color: #E72227;
    color: white;
}
input[type=password] {
    background-color: #E72227;
    color: white;
}
.cadastro{
    margin-left: 240px;
    font-family: "Cairo", sans-serif;
    cursor: pointer;
}
.campo3{
    color: #FFFF;
    text-align: center;
    font-size: 20px;
    margin-bottom: 30px;
}
.login{
    color: white;
    margin-left: 140px;
    font-family: "Cairo", sans-serif;
}
.logins{
    margin-left: 100px;
    cursor: pointer;
}
#nome::placeholder{
    color: white;
}
#email::placeholder{
    color: white;
}
#telefone::placeholder{
    color: white;
}
#senha::placeholder{
    color: white;
}
.voltar{
    width: 150px;
    height: 40px;
    border-radius: 40px;
    background-color: #E72227;
    text-decoration: none;
    color: white;
    display: flex;
    cursor: pointer;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    font-family: "Cairo", sans-serif;
    transition: 0.3s ease;
}
.voltar:hover {
    background: #dedede;
    color: #ca6702;
    }
.social-list {
    display: flex;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    }
.social-item {
    width: 60px;
    height: 50px;
    border-radius: 20px;
    background: #dedede;
    color: #ca6702;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    }
.social-item:hover {
    background-color: #E72227;
    color: white;
    }
.bx{
    font-size: 30px;
}