body{
    padding: 0;
    margin: 0;
    background-color: #540B0E;
    overflow: hidden;
}
.cabecalho{
    width: 100vw;
    height: 10vh;
    background-color: #CB997E;
    text-align: center;
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
    font-size: 40px;
    box-shadow: 2px -2px 2px;
    padding-top: 15px;
    color: aliceblue;
    font-family: 'Playfair Display', serif;
}
.campo{
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    text-align: left;
    display: flex;
    flex-direction: column;
    color: #FFFF;
    border: 0;
    padding-top: 30px;
    margin: 20px;
    font-family: 'Playfair Display', serif;
}
img{
    padding-bottom: 10px;
}
.campo2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    padding: 25px;
}
label{
    font-size: 15px;
    padding-left: 10px;
    font-family: "Cairo", sans-serif;
}
input{
    width: 270px;
    height: 30px;
    border-radius: 10px;  
    margin: 3px;
}
.entrar{
    width: 150px;
    height: 40px;
    background-color: #E72227;
    border: none;
    color: white;
    cursor: pointer;
}
.enviar:hover{
    color: gray;
    background-color: #000000;
}
input[type=text] {
    background-color: #E72227;
    color: white;
}
input[type=password] {
    background-color: #E72227;
    color: white;
}
.cadastro{
    margin-left: 240px;
    font-family: "Cairo", sans-serif;
    cursor: pointer;
}
.campo3{
    color: #FFFF;
    text-align: center;
    font-size: 20px;
    margin-bottom: 30px;
}
a{
    text-decoration: none;
    color: #00a6fb;
}
.login{
    color: white;
    margin-left: 140px;
    font-family: "Cairo", sans-serif;
}
.logins{
    margin-left: 100px;
    cursor: pointer;
}
#nome::placeholder{
    color: white;
}
#email::placeholder{
    color: white;
}
#telefone::placeholder{
    color: white;
}
#senha::placeholder{
    color: white;
}