body{
    padding: 0;
    margin: 0;
    border: solid 1px;
    background-color: #540B0E;
}
.cabecalho{
    width: 100%;
    font-size: 15px;
    border: solid 1px;
    display: flex;
    flex-direction: row;
    padding: 0;
    color: #ffff;
    background-color: #CB997E;
}h1{
    font-size: 20px;
    padding: 0%;
    font-weight: bold;
    color: #ffff;
    text-align: center;
    font-family: "Cairo", sans-serif;
}
p{
    font-size: 15px;
    color: #ffff;
    text-align: center;
    font-family: "Cairo", sans-serif;
}
header{
    position: absolute;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
    color: #ffff;
    font-size: 20px;
    margin-left: 40px;
}
.logo{
    width: 130px;
    height: 100px;
    position: relative;
    margin: 0;
    margin-left: 20px;
}
.cabecalho2{
    width: 90%;
    font-size: 15px;
    border: solid 1px;
}
.subtitulo{
    width: 100%;
    background-color: black;
    color: white;
    font-family: "Cairo", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}
.corpo_humano{
    width: 250px;
    height: 250px;
    margin: 0;
    margin-left: 55px;
}
.campo1{
    color: white;
    font-family: "Cairo", sans-serif;
    font-size: 10px;
}
.subtitulo2{
    width: 100%;
    height: 40px;
    background-color: black;
    color: white;
    font-family: "Cairo", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
}
.campo2{
    background-color: white;
    color: black;
    font-family: "Cairo", sans-serif;
    font-size: 10px;
    text-align: center;
    border-bottom: 1px solid black;
}
.titulo_campo2{
    background-color: #9B9699;
    height: 30px;
    color: white;
    font-size: 26px;
    border: 1px solid black;
}
.campos2{
    border: 2px solid black;
}
.campo2 input[type="text"]{
    width: 72px;
    height: 10px;
}
.titulo_campo3{
    background-color: #000000;
    height: 30px;
    color: white;
    font-size: 26px;
    border: 1px solid black;
}