body{
    padding: 0;
    margin: 0;
    border: solid 1px;
    background-color: #540B0E;
}
.cabecalho{
    width: 100%;
    font-size: 15px;
    border: solid 1px;
    display: flex;
    flex-direction: row;
    padding: 0;
    color: #ffff;
    background-color: #CB997E;
}
h1{
    font-size: 20px;
    padding: 0%;
    font-weight: bold;
    color: #ffff;
    text-align: center;
    font-family: "Cairo", sans-serif;
    background-color: #000000;
}
h2{
    padding: 0%;
    font-weight: bold;
    color: #000000;
    text-align: center;
    font-family: "Cairo", sans-serif;
    background-color: white;
}
h3{
    padding: 0%;
    font-weight: bold;
    color: white;
    text-align: center;
    font-family: "Cairo", sans-serif;
    background-color: #000000;
}
p{
    font-size: 15px;
    color: #ffff;
    text-align: center;
    font-family: "Cairo", sans-serif;
}
.subtitulo{
    font-size: 20px;
    padding: 0%;
    font-weight: bold;
    color: #ffff;
    text-align: center;
    font-family: "Cairo", sans-serif;
}
header{
    position: absolute;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
    color: #ffff;
    font-size: 20px;
    margin-left: 40px;
}
.logo{
    width: 130px;
    height: 100px;
    position: relative;
    margin: 0;
    margin-left: 20px;
}
.cabecalho2{
    width: 90%;
    font-size: 15px;
    border: solid 1px;
}
.fundo2{
    display: flex;
    flex-direction: column;
    border: #000000 solid;
    width: 20%;
}
.fundinho{
    height: 320px;
    border: #000000 solid 1px;
    background-color: white;
    font-family: "Cairo", sans-serif;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fundo{
    display: flex;
    flex-direction: row;
}
td, tr{
    border: #000000 solid 1px;
    padding: 3;
    color: white;
    font-family: "Cairo", sans-serif;
}
h2{
    margin: 0;
    font-size: 12px;
}
.gcs{
    height: 100px;
    background-color: white;
    color: #000000;
    border: #000000 solid 1px;
}
.continuar {
    width: 220px;
    height: 50px;
    color: white;
    background-color: #E72227;
    cursor: pointer;
    border-radius: 10px;
    margin-left: 70px;
}
.continuar:active {
    color: gray;
    background-color: #000000;
}
footer{
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #CB997E;
    color: white;
    box-sizing: border-box;
    margin-top: 10px;
}