@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
}
body{
    padding: 0;
    margin: 0;
    border: solid 1px;
    background-color: #1b263b;
}
nav{
    width: 100%;
    border: solid 1px;
    display: flex;
    flex-direction: row;
    padding: 0;
    color: #ffff;
    background-color: #772e25;
    justify-content: space-between;
    padding: 18px 40px;
    align-items: center;
}
nav .logo a{
    color: #fff;
    font-size: 1.4rem;
    font-weight: 600;
    margin-left: 20px;
}
.logo span{
    color: #ca6702;
}
.menu{
    cursor: pointer;
}
.menu .bar{
    display: block;
    width: 28px;
    height: 3px;
    border-radius: 3px;
    background-color: white;
    margin: 5px auto;
    transition: all 0.3s;
}
.menu.ativo .bar:nth-child(1){
    transform:  translateY(8px) rotate(45deg);
}
.menu.ativo .bar:nth-child(2) {
    opacity: 0;
}
.menu.ativo .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
}
.nav-menu{
    position: absolute;
    right: -100%;
    top: 70px;
    width: 100%;
    height: 100%;
    flex-direction: column;
    background-color: white;
    gap: -10px;
    transition: 0.3s;
    display: none;
    align-items: center;
    justify-content: center;
    overflow-y: scroll;
    animation: deslizar 2s forwards;
}
@keyframes deslizar {
    0%{ transform: translate(0%,-100%);}
    100%{ transform: translate(0%,0%); z-index: 1;}
}
.nav-menu.ativo{
    right: 0;
    z-index: 2;
    top: 70px;
 }
.nav-item{
    margin: 16px 0;
}
a{
    color: #ca6702;
    font-size: 12px;
}
.subtitulo{
    font-size: 20px;
    padding: 0%;
    font-weight: bold;
    color: #ffff;
    text-align: center;
    background-color: #000000;
}
label{
    display: block;
    align-items: center;
    margin-bottom: 25px;
    color: white;
  }
  label img{
    width: 30px;
    height: 30px;
  }
  h2{
    padding: 0%;
    font-weight: bold;
    background-color: #000000;
    text-align: center;
    font-family: "Cairo", sans-serif;
    color: white;
}
input[type=submit] {
    width: 220px;
    height: 50px;
    color: white;
    background-color: #E72227;
    cursor: pointer;
    margin-left: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
input[type=submit]:active {
    color: gray;
    background-color: #000000;
}
footer{
    width: 100%;
    height: 50px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #772e25;
    color: white;
    box-sizing: border-box;
    font-size: 20px;
    font-weight: 600;
}