@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
}
body{
    padding: 0;
    margin: 0;
    height: 100vh;
    border: solid 1px;
    background-color: #1b263b;
}
nav{
    width: 100%;
    border: solid 1px;
    display: flex;
    flex-direction: row;
    padding: 0;
    color: #ffff;
    background-color: #772e25;
    justify-content: space-between;
    padding: 18px 40px;
    align-items: center;
}
nav .logo a{
    color: #fff;
    font-size: 1.4rem;
    font-weight: 600;
    margin-left: 20px;
}
.logo span{
    color: #ca6702;
}
.menu{
    cursor: pointer;
}
.menu .bar{
    display: block;
    width: 28px;
    height: 3px;
    border-radius: 3px;
    background-color: white;
    margin: 5px auto;
    transition: all 0.3s;
}
.menu.ativo .bar:nth-child(1){
    transform:  translateY(8px) rotate(45deg);
}
.menu.ativo .bar:nth-child(2) {
    opacity: 0;
}
.menu.ativo .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
}
.nav-menu{
    position: absolute;
    right: -100%;
    top: 70px;
    width: 100%;
    height: 100%;
    flex-direction: column;
    background-color: white;
    gap: -10px;
    transition: 0.3s;
    display: none;
    align-items: center;
    justify-content: center;
    overflow-y: scroll;
    animation: deslizar 2s forwards;
}
@keyframes deslizar {
    0%{ transform: translate(0%,-100%);}
    100%{ transform: translate(0%,0%); z-index: 1;}
}
.nav-menu.ativo{
    right: 0;
    z-index: 2;
    top: 70px;
 }
.nav-item{
    margin: 16px 0;
}
a{
    color: #ca6702;
    font-size: 12px;
}
.subtitulo{
    font-size: 20px;
    padding: 0%;
    font-weight: bold;
    color: #ffff;
    text-align: center;
    background-color: #000000;
}
.tabela {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    border-spacing: 0px;
    align-content: center;
    justify-items: center;
    margin-left: 80px;
}
.caixa {
    width: 80px;
    border: 2px solid white;
    align-items: center;
}
.info {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 10px;
}
label {
    font-size: 14px;
    color: white;
    margin-top: 5px;
}
input[type="checkbox"] {
    width: 20px;
    height: 20px;
}
ul {
    list-style-type: none;
    padding-left: 0;
    color: white;
}
.Caixa-botao {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
form {
    width: 300px; 
    margin: 0 auto; 
    color: white;
}
input[type="text"] {
    width: 100%; 
    padding: 3px; 
    margin-bottom: 10px; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    background-color: transparent; 
    color: #ffffff; 
}
label {
    display: block; 
    font-weight: bold; 
    margin-bottom: 5px;
}
.hidden {
    display: none;
}
.toggle-container {
    position: relative;
    width: 100%;
}
.mostrar-ocultar {
    width: 100%;
    height: 40px;
    font-family: "Cairo", sans-serif;
    font-weight: bold;
    background-color: white;
    color: #000000;
}
.letra{
    display: flex;
}
footer{
    width: 100%;
    height: 50px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
    justify-self: flex-end;
    background: #772e25;
    color: white;
    box-sizing: border-box;
    font-size: 20px;
    font-weight: 600;
    margin-top: 50px;
    border: solid 1px;
}